@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    max-width: 800px;
    color: gray;
    font-family: "Saira", sans-serif;
    text-align: center
}

button {
    max-width: 800px;
    color: gray;
    font-family: "Saira", sans-serif;
}

p {
    max-width: 800px;
    color: gray;
    font-family: "Saira", sans-serif;
    text-align: center
}

div {
    max-width: 800px;
    color: gray;
    font-family: "Saira", sans-serif;
    text-align: center
}

ul {
    max-width: 800px;
    color: gray;
    font-family: "Saira", sans-serif;
    text-align: center
}